<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<!--List of file names from database-->
<div>
    <table class="table">
        <thead>
        <th scope="col"><b>File Names</b></th>
        <th scope="col"><b>Files</b></th>
        </thead>
        <tbody>
        <tr th:each="file : ${listOfFileNames}">
            <td th:text="${file}"></td>
            <td>
                <a th:href="@{/files/view/} + ${file}">View</a>
                <a href="/">Download</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>