<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<!--List of file names from database-->
<div>
    <table>
        <thead>
        <tr><b>File name</b></tr>
        </thead>
        <tbody>
        <tr th:each="file : ${listOfFileNames}">
            <td th:text="${file}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>