<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <div th:replace="fragments/header :: header"/>
</head>
<body>

<!--Form to upload files to database-->
<div class="container text-center">
    <h2>File Upload</h2>

    <form enctype="multipart/form-data" method="post" th:action="@{/upload}">
        Upload File:
        <input name="file" type="file">
        <input type="submit" value="Upload">
    </form>

    <h6 style="color: green" th:text="${uploadMessage}"></h6>
</div>

<div class="container text-center">
    <h5><a th:href="@{/files}">View my files</a></h5>
</div>

<div th:replace="fragments/footer :: bootstrap-js"></div>
</body>
</html>