<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>File System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div>
    <h2>File Upload</h2>

    <form action="/upload" method="post" enctype="multipart/form-data">
        Upload File:
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</div>

<div>
    <h2>File Search</h2>

    <form th:action="@{/fileSearch}" method="get" enctype="multipart/form-data">
        <label>
            <input type="search" name="searchTerm" size="30" placeholder="Search for a file" required
            th:value="${searchTerm}">
        </label>
        <input type="submit" value="Search">
    </form>
</div>

</body>
</html>