<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>

<div>
<!-- Login form for the user to sign in to there account and access  -->

    <p th:if="${loginErrror}" class="error"></p>
<form name="login" class="text-center border border-light p-5" >
<!--    <form name="login" class="text-center border border-light p-5" th:action="@{/login}" method="post">-->
    <fieldset>
        <legend class="h4 mb-4">Sign in</legend>
        <div th:if="${param.error}" class="alert alert-error">
<!--            <span th:text="#{login.error}"/>-->
            Invalid username or password.
        </div>
<!--        <label for="username">Username</label>-->
        <input type="text" id="username" name="username" class="form-control mb-4" placeholder="Username">
        <br>
<!--        <label for="password">Password</label>-->
        <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password">

        <button class="btn btn-block my-4 btn-primary" type="submit">Sign in</button>
    </fieldset>

</form>
</div>

</body>
</html>