<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Organisations</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <div th:replace="fragments/header :: header"/>
</head>
<body>

<div class="container text-center">

    <table class="table table-stripped">
        <thead>
        <tr>
            <th class="h2" scope="col"><b>Organisations</b></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="organisation : ${listOfOrganisationNames}">
            <td th:text="${organisation}"></td>
        </tr>
        </tbody>
    </table>

    <div class="container text-center">
        <h5><a th:href="@{organisations/create}">Add new organisation</a></h5>
    </div>

</div>

<div th:replace="fragments/footer :: bootstrap-js"></div>
</body>
</html>