<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Partner Organisations</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="container text-center">

    <table class="table table-stripped">
        <thead>
        <tr>
            <th class="h2" scope="col"><b>Partner Organisations</b></th>
        </tr>
        </thead>
        <trbody>
            <tr th:each="partnerOrganisation : ${listOfPartnerOrganisationNames}">
                <td th:text="${partnerOrganisation}"></td>
            </tr>
        </trbody>
    </table>

    <div class="container text-center">
        <h5><a th:href="@{partner-organisations/add-new-partner">Add new partner organisation</a></h5>
    </div>

</div>

</body>
</html>