<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/confirm-password.js"></script>
    <title>Registration </title>
</head>
<body>
<div>
    <h1> Create a Graphium Account </h1>



    <!--/*@thymesVar id="accountForm" type="graphium"*/-->
    <form id="register" class="border-light p-5 needs-validation" th:action="@{/applicant-register}"
          th:method="post" th:object="${accountForm}" novalidate>
        <label> First Name </label> <label>
            <input title="Enter your First Name" type="text" class="form-control" id="firstName" th:field="*{firstname}"
                   required>
        </label>
    <br>
        <label> Last Name </label> <label>
        <input title="Enter your Last Name" type="text" class="form-control" id="lastName" th:field="*{lastname}"
               required>
    </label>
        <br>
        <label> Username </label> <label>
        <input title="Enter your username" type="text" class="form-control" id="username" th:field="*{username}"
               required>
    </label>
    <br>
        <label> Email </label> <label>
        <input title="Please enter the same Password as above" type="email" class="form-control" id="email"
               name="email" th:field="*{email}" required>
    </label>
        <br>
        <label> Password </label> <label>
        <input title="Password must contain at least 6 characters, including UPPER/lowercase and numbers"
               type="text" class="form-control password" id="password" name="password"
               th:feild="*{password}" onkeyup='check();'>
        </label>
    <br>
        <label> Confirm Password </label> <label>
        <input title="Please enter the same Password as above" type="password" class="form-control confirmPassword" id="confirm_password"
               name="confirm_password" onkeyup='check();'>
    </label>
        <br>
        <label> Organisation </label> <label>
        <input>
    </label>
    <br>
        <button  name="submit" type="submit" class="button btn btn-primary">Submit</button>
    </form>
</div>

<script>
    // validation script = "https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_form_validation_needs&stacked=h"

    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<script type="text/javascript">
    document.querySelector('.button').onclick = function(){
        var password = document.querySelector('.password').value,
            confirmPassword = document.querySelector('.confirmPassword').value;

        if(password === ""){
            alert("Password is empty, please try again")
        } else if(password !== confirmPassword){
            alert("Password didn't match, please try again")
        } else if(password === confirmPassword){
            alert("Password match.")
        }

    }
</script>
<script>
    // <!--  script below from = https://stackoverflow.com/questions/21727317/how-to-check-confirm-password-field-in-form-without-reloading-page-->
    var check = function() {
        if (document.getElementById('password').value ===
            document.getElementById('confirm_password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    }

</script>

</body>
</html>