<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
<div>
    <h1> Create an Account </h1>

    <form>
        <label> First Name </label> <label>
            <input>
        </label>
    <br>
    <form>
        <label> Last Name </label> <label>
        <input>
    </label>
        <br>
        <label> Organisation </label> <label>
        <input>
        </label>
    <br>
    <form>
        <label> Email </label> <label>
        <input>
    </label>
        <br>
        <label> Password </label> <label>
        <input>
        </label>
    <br>
        <label> Confirm Password </label> <label>
        <input>
    </label>
    <br>
        <button>Submit</button>
    </form>
</div>

</body>
</html>